 
     
      @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
      @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
	  
  body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
  }

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(../images/yoga2.png);
	background-size: cover;
	-webkit-filter: blur(4px);
	z-index: 0;
	
  }

  .grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
  }

  .header {
    left: calc(71% - 255px);
    position: absolute;
    top: calc(50% - 35px);
    z-index: 2;
}

  .header div{
	float: left;
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	font-weight: 200;
  }

  .header div span{
	color: #5379fa !important;
  }

  .form {
    height: 150px;
    left: calc(71% - 0px);
    padding: 10px;
    position: absolute;
    top: calc(50% - 75px);
    width: 350px;
    z-index: 2;
}

  .form input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #111;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 5px;

  } 
  
  
   .form input[type=date]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #111;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 5px;

  } 

 .form input[type=number]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #111;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 5px;
  } 
  
  .form input[type=email]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #111;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 5px;

  } 

  
 .form input[type=button]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 2px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 17px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	text-align:center;
  }

  .form input[type=button]:hover{
  
  
  border:none;
  background:transparent;
  border:3px solid #82C7FD;
  transform:scale(1.1,1.1);
  transition:0.5s;
  
  }
  
 

  .form input[type=button]:active{
	opacity: 0.5;
  }

  .form input[type=text]:focus{
	outline: none;
	border: 3px solid #82C7FD;
	transition:0.5s;
	transform:scale(1.1,1.1);
	
  }
  
  .form input[type=date]:focus{
	outline: none;
	border: 3px solid #82C7FD;
	transition:0.5s;
	transform:scale(1.1,1.1);
  }
  
  
  .form input[type=number]:focus{
	outline: none;
	border: 3px solid #82C7FD;
	transition:0.5s;
	transform:scale(1.1,1.1);
  }
  
  .form input[type=email]:focus{
	outline: none;
	border: 3px solid #82C7FD;
	transition:0.5s;
	transform:scale(1.1,1.1);
  }


  }

  .form input[type=button]:focus{
	outline: none;
  }



  .form input placeholder{
   color: rgba(255,255,255,0.6);
  }
 
 
 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a{
    background-color: #222;
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
background-color:#222;
}


.dropdown:hover>.dropdown-menu {
    display: block;
	transition: 1s;
}

.navbar-nav {
    float: right;
    margin: 0;
}