
.img-circle {
    border-radius: 50%;
    margin-left: 550px;
    margin-top: 68px;
}

h2{
margin-left: 580px;
padding:0px;
}

p {
    margin: 50px 40px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a{
    background-color: #222;
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
background-color:#222;
}

.img-circle:hover{
transform:rotate(360deg);
transition:0.7s;
}
.dropdown:hover>.dropdown-menu {
    display: block;
	transition: 1s;
}

.navbar-nav {
    float: right;
    margin: 0;
}