
<div style='float:left'>
<a href='share.html'><img src='images/logo.jpg' ></a>
</div>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<div id='cssmenu'  style='display:inline-block' style='margin-bottom:300px'> 
<link rel='stylesheet' href='css/redmenuStyle.css' >
<ul>
   <li><a href='share.html'><span>Home</span></a></li>
   <li class='has-sub'><a href='#'><span>Features</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Share data</span></a>
            <ul>
               <li><a href='#'><span>Videos</span></a></li>
               <li><a href='#'><span>Audio</span></a></li>
			   <li><a href='#'><span>Documents</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Connect</span></a>
            <ul>
               <li><a href='#'><span>Mac</span></a></li>
               <li><a href='#'><span>Windows</span></a></li>
			   <li><a href='#'><span>Android Phone</span></a></li>
			   <li><a href='#'><span>Ios</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='aboutus.html'><span>About us</span></a></li>
   <li class='last'><a href='contactus.html'><span>Contact us</span></a></li>
</ul>
</div>
<link rel='stylesheet' href='css/sharestyle.css'>
<div class='aboutusStyle'><span style='font-size:35px; font-family=arial black;'>About us:</span>
</div>

<div class='aboutblock'>SHAREit allows you to send content including files, photos, video and documents, at lightning fast speed.
Send files in seconds, from 1mb to 100gb.
SHAREit works on all Windows, Android, and Apple devices (Also, did we mention it's free?)
</div>
<div class='aboutkeyfeatures'>
<span class='keyStyle'>Key Features:</span><ul style='color:black'>
<li>Fast data Sharing</li>
<li>Send Audio Files</li>
<li>Send Video Files</li>
<li>Send Documents</li>
<li>No network Needed</li>
<li>Support Multiple PLatforms</li>
<li>Free</li>
<li>Fast data Sharing</li>
</ul>
</div>
<div class='notestyle'>
Note:Share It application need wifi if you connect ios with any device 
</div>