
<div style='float:left'>
<a href='share.html'><img src='images/logo.jpg' ></a>
</div>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;
<div id='cssmenu'  style='display:inline-block' style='margin-bottom:300px'> 
<link rel='stylesheet' href='css/redmenuStyle.css' >
<ul>
   <li><a href='share.html'><span>Home</span></a></li>
   <li class='has-sub'><a href='#'><span>Features</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Share data</span></a>
            <ul>
               <li><a href='#'><span>Videos</span></a></li>
               <li><a href='#'><span>Audio</span></a></li>
			   <li><a href='#'><span>Documents</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Connect</span></a>
            <ul>
               <li><a href='#'><span>Mac</span></a></li>
               <li><a href='#'><span>Windows</span></a></li>
			   <li><a href='#'><span>Android Phone</span></a></li>
			   <li><a href='#'><span>Ios</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='aboutus.html'><span>About us</span></a></li>
   <li class='last'><a href='contactus.html'><span>Contact us</span></a></li>
</ul>
</div>


<link rel='stylesheet' href='css/sharestyle.css'>
<div class='aboutusStyle' style='margin-bottom:20px'><span style='font-size:35px; font-family=arial black; font-size:23px;'>contact us:</span></div>
<div style='width:450; background-color:#BC378D;' class='aboutblock'><span style='color:white; font-size:30px;'><b>Get In Touch<b></span><br><br>
&emsp;
<span style='font-size:25px;color:white;'><b>Office:</b></span><br><br/>

<span style='color:white;font-size:20px;'>114 Sansome St Ste 250, San Francisco, CA  94104, USA<br/>Phone: +1 415-758-1522
<hr style='width:200px;'/>
&emsp;Sector 28-B, Madhya Marg<br><br>
&emsp;Chandigarh, INDIA<br><br>
&emsp;Phone: +91-172-319-3206<br><br>
&emsp;Email:ankur.galhotra44@gmail.com<span>


</div>
<div class='aboutkeyfeatures' style='background-color:#0867CE; width:600px;'>
<span class='keyStyle' style='font-size:30px'>Register:</span>

<link rel='stylesheet' href='css/text.css'>
<form action='' method='post'> 
<fieldset style='width:500px; ' class='fieldsetStyle'>
 <legend>Personal info</legend>
<label style=font-weight:bold style=color:red >Firstname: </label>
 <input type= 'text' name= 'txtFirstName' autofocus placeholder='First Name' required class='textboxStyle'><br><br>

<label style=font-weight:bold style=color:red >Lastname:  </label>
 <input type= 'text' name= 'textlastname' placeholder='last Name' class='textboxStyle'><br><br>

<label style=font-weight:bold style=color:red >Age:  </label>
 <input type= 'date' name= 'textAge' placeholder='Age' class='textboxStyle'><br><br>

<label style=font-weight:bold style=color:red >Designation:  </label>
  <select name='selectname' value='student' class='textboxStyle'>
	<option>Student</option>
	<option>Service</option>
	<option>Businessman</option>
	<option>Sportspesrson</option>
	<option>Retired</option>

  </select><br><br>

<label style=font-weight:bold style=color:red >Gender:  </label>
<input type= 'radio' name= 'radiogender'  value="Male" >Male
<input type= 'radio' name= 'radiogender'  value="Female">Female<br><b>
</fieldset>

<fieldset style='width:500px;'>
  <legend>Personal info</legend>
  <label style="font-weight:bold;" >Emailid:  </label>
  <input type= 'email' name= 'txtemail' placeholder='xyz@email.com' class='textboxStyle'><br><br>


<label style=font-weight:bold style=color:red >Password:  </label>
	<input type= 'Password' name= 'txtPassword' placeholder='*********' class='textboxStyle'><br><br>
	
	
<label style="font-weight:bold;margin-bottom:-15px;" >Question: </label>
<textarea style='margin-bottom:-20px;' name='txtQuesion'></textarea>
	<br><br><br/>
	
	<input type= 'button' name= 'enterbutton' value='register' class='btn'>
</fieldset>
</form>





