
.aboutusStyle
{
box-shadow:0 5px 5px -5px #333,5px 0 5px -5px #333;
 width:150px;
 height:40px;
 margin-bottom:10px; 
 margin-top:80px;
 }
.aboutblock{
 box-shadow: 0 0 5px #333;
 width:900px;
 text-align:justify;
 padding:10px;
 height:500px;
 float:left;
 border-top-right-radius:20px;
 }
 .aboutkeyfeatures{
 padding:10px;
 box-shadow: 0 0 5px #333;
 width:300px;
 height:500px; 
 margin-left:40px;
 display:inline-block;
 border-top-right-radius:30px;
 }
 
 .keyStyle{
 font-size:30px;
 color:white;
 background-color:#0867CE;
 padding:5px;
 border-radius:10px;
 }
 
 .notestyle{
 box-shadow: 0 -5px 5px -5px #333, 5px 0 5px -5px #333; 
 margin-top:20px; 
 width:600px;
 height:60px;
 }