.button
{
background-color:red;
padding:5px;
font-size:14px;
font-weight:bold;
color:white;
border-radius:5px;
cursor:pointer;
}
.button:hover
{
background-color:green;
cursor:pointer;
}
.fieldsetStyle
{
	border-radius:8px;
}
.textboxStyle 
{
	border-radius:4px;
}
body
{
	font-family:consolas;
}

.imageStyle
{
	border-radius:4px;
}
.imageStyle:hover
{
	border-radius:4px;
	height:120px;
	width:120px;
}

.linkStyle
{
	display:block;
	color:blue;
	background-color:white;
	text-decoration:none;
	padding:4px;
	width:120px;
	border: 2px solid blue;
}

.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #0c6fad);
  background-image: -moz-linear-gradient(top, #3498db, #0c6fad);
  background-image: -ms-linear-gradient(top, #3498db, #0c6fad);
  background-image: -o-linear-gradient(top, #3498db, #0c6fad);
  background-image: linear-gradient(to bottom, #3498db, #0c6fad);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 0px 1px 3px #666666;
  -webkit-box-shadow: 3px 4px 3px #666666;
  -moz-box-shadow: 3px 4px 3px #666666;
  box-shadow: 3px 4px 3px #666666;
  font-family: Georgia;
  color: #f5f5f5;
  font-size: 20px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0b5787;
  background-image: -webkit-linear-gradient(top, #0b5787, #105c8f);
  background-image: -moz-linear-gradient(top, #0b5787, #105c8f);
  background-image: -ms-linear-gradient(top, #0b5787, #105c8f);
  background-image: -o-linear-gradient(top, #0b5787, #105c8f);
  background-image: linear-gradient(to bottom, #0b5787, #105c8f);
  text-decoration: none;
  cursor:pointer;
}